<div class="checklist-container">
  <% @ref_cards.order("id asc").each do |ref_card| %>
    <div id="<%= ref_card.id %>" >
      <%= link_to ref_card_path(ref_card) do %>
        <%= ref_card.en_name %>
      <% end %>
    </div>
  <% end  %>
</div>
