<% @jap_blocs.each do |bloc| %>
  <div class="icones_bloc-container">
    <div class="icones_bloc-header"><%= bloc.en_name %></div>
    <div class="icones_bloc-lists">
      <% bloc.lists.where(promo: false).order(rank: :desc).each do |list| %>
        <%= link_to list_path(list), :method => :get do %>
          <div class="icones_list-card">
            <% code_list = list.code %>
            <%= image_tag(("ref_cards/jap_lists/logos/#{code_list}.png"), class: "logo-list-mini") %>
            <% unless @no_symbol_jap_lists.include?(code_list) %>
              <%= image_tag(("ref_cards/jap_lists/symbols/#{code_list}.png"), class: "symbol-list-mini") %>
            <% end  %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
