<%#= text_field_tag('card_research', nil, placeholder: 'Nom ou N°') %>
<div class="visuals-container">
  <% @ref_cards.order("id asc").each do |ref_card| %>
    <div class="card-element", id="<%= ref_card.id %>" >
      <% if @list.jap? %>
        <%= cl_image_tag ("jap_lists/visuals/#{@list.bloc.en_name}/#{@list.code}/#{ref_card.rank}.jpg"), class: "mini" %>
      <% else %>
        <%= link_to ref_card_path(ref_card) do %>
          <%= image_tag(ref_card.right_url[0], class: "mini") %>
          <!-- card_name:ref_card.fr_name, nb:ref_card.number -->
        <% end %>
      <% end %>
    </div>
  <% end  %>
</div>
