<%#= text_field_tag('card_research', nil, placeholder: 'Nom ou N°') %>
<div class="visuals-container">
  <% @ref_cards.order("id asc").each do |ref_card| %>
    <div class="card-element", id="<%= ref_card.id %>" >
      <%#= link_to ref_card_path(ref_card) do %>
        <%= ref_card.name %>
        <%#= cl_image_tag "#{@ref_card_url}/#{ref_card.rank}",
          :transformation=>[
          {:overlay=>{:font_family=>"Arial", :font_size=>50, :font_weight=>"bold", :text=>" POK'N'ROLL " },
          :color=>"#FFBF00", :background=>"#006494", :opacity=>50, :gravity=>"south", :y=>100}],
          :sign_url=>true, class: "mini" %>
      <%# end %>
    </div>
  <% end  %>
</div>
