<div class="container blocs">
  <% @blocs.each do |bloc| %>
    <div class="bloc">
      <div class="bloc_header"><%= bloc.fr_name %></div>
      <div class="bloc_lists">
        <% bloc.lists.order('rank DESC').each do |list| %>
          <div class="bloc_list">
            <%= link_to list_path(list) do %>
              <%= image_tag list.fr_url, class: "logo-list-mini" %>
              <%= image_tag list.symbol_url,class: "symbol-list-mini" %>
            <% end  %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
