<div class="container">

    <% @blocs.each do |bloc| %>
      <div class="bloc-container">
        <div class="row">
          <div class="bloc-header"><%= bloc.fr_name %></div>

          <% bloc.lists.each do |list| %>
            <div class="col-md-3">
              <div class="bloc-list-card">
                <%= link_to list_path(list) do %>
                  <% if list.fr_logo_url.present? %><%= image_tag(list.fr_logo_url, class: "logo-list-mini")%> <% end %>
                  <% if list.symbol_url.present? %><%= image_tag(list.symbol_url, class: "symbol-list")%> <% end %>
                <% end  %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
</div>
