<div class="card-header-list">
  <h2>Collection :
    <% if @collection_cards.count == 0 %>
      aucune carte
    <% elsif @collection_cards.count == 1  %>
      <%= @collection_cards.count %> carte
    <% else %>
      <%= @collection_cards.count %> cartes
    <% end %>
  </h2>
</div>
