<div class="card-header-list">
  <h1>Collection</h1>
  <% if @collection_cards.count == 0 %>
    <h3>aucne carte</h3>
  <% elsif @collection_cards.count == 1  %>
    <h3><%= @collection_cards.count %> carte</h3>
  <% else %>
    <h3><%= @collection_cards.count %> cartes</h3>
  <% end %>
</div>
