<div class="container">
  <h1>Ma collection</h1>

  <div class="collections-cards">
    <div class="row">
      <% @collection_cards.each do |collection_card| %>
        <div class="col-md-2">
          <div class="collection-card">
            <%= image_tag(collection_card.ref_card.fr_url, width: '130') %>
            <%= collection_card.ref_card.fr_name %>
            <%= collection_card.condition %>
            <%= collection_card.language %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
