<div class="container">
  <div class="collection-header">
  <h1>Ma collection</h1>
  <p>Nombre total de cartes : <%= @collection_cards.count %> cartes</p>
  </div>

  <div class="collections-cards">

      <% @lists.each do |list| %>

          <% if list.collection_cards.count > 0 %>
            <div class="collection-item">
              <%= list.fr_name %>
              <%= image_tag(list.symbol_url, height: '20')%>
              <%= list.collection_cards.count %> cartes
            </div>
          <% end  %>

      <% end %>

  </div>
</div>
