<div class="container">

  <% if user_signed_in? %>
  <% else %>
    <%= render partial: "feeds/home" %>
  <% end %>

  <%= render partial: "feeds/header" %>

  <!-- Nav tabs -->
  <div class="nav-box">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="most_exp-tab" data-toggle="tab" href="#most_exp" role="tab" aria-controls="most_exp" aria-selected="true">
            Toutes
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">
          Vendeurs
        </a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">

    <div class="tab-pane active" id="most_exp" role="tabpanel" aria-labelledby="most_exp-tab">
      <%= render partial: "feeds/most_exp" %>
    </div>

    <div class="tab-pane" id="users" role="tabpanel" aria-labelledby="users-tab">
      <%= render partial: "feeds/users" %>
    </div>
  </div>

</div>
