.landing_page-container {
  display: flex;
  justify-content: center;
}

.landing_page {
  color: $yellow;
  width: 50%;
  margin-top: 30px;
  .btn {
    background-color: $yellow;
    color: $blue;
    border-radius: 7px;
  }
}

.logo-container {
  position: relative;
  margin-right: 20px;
  .logo {
    position: relative;
    top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }
}


.call_to_action-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  h3 {
    text-align: justify;
  }
}
