.landing_page-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.landing_page {
  color: $yellow;
  margin-top: 10px;
}

.logo-container {
  position: relative;
  margin-right: 20px;
  .logo {
    position: relative;
  }
}

.header {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid $yellow;
}

.details {
  padding-bottom: 15px;
}

.call_to_action {
  display: flex;
  justify-content: center;
   .btn {
    background-color: $yellow;
    color: $blue;
    border-radius: 7px;
  }
}

@media all and (max-width: 500px) {
  .header {
    display: block;
    .logo-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
