.list-header {
  display: flex;
  border: 6px solid $yellow;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  padding: 10px 50px;
  margin-bottom: 15px;
  background-color: $yellow;
  text-align: center;
  color: $blue;
  justify-content: center;
}

.first_part {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.second_part {

}


.name_and_symbol {
  display: flex;
  align-items: baseline;
  .name {
    margin-left: 10px;
  }
}

.size_and_secrets {
  display: flex;
  justify-content: center;
  .intro {
    margin-right: 5px;
  }
}

.visuals-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media all and (max-width: 500px) {
  .list-header {
    display: block;
  }

  .intro {
    display: none
  }

  .name {
    display: none;
  }
}
