.messages-header {
  color: $yellow;
  text-align: center;
}
.messages-container {
  width: 70%;
}

.tab-box {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 500px) {
  .messages-container {
    width: 100%;
  }
}


.current_user_message-content {
  background-color: $yellow;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: right;
}
.other_user_message-content {
  background-color: $light-gray;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: left;
}


.new_message-content {
  text-align: right;
  .new_message-body textarea {
    background-color: $yellow;
    border-radius: 5px;
    width: 50%;
  }
}

.selected_cards-container {
  display: flex;
}

.my_list-header {
  display: none;
  text-align: center;
  color: $blue;
  background-color: $yellow;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 1px 3px;
}

.his_list-header {
  display: none;
  text-align: center;
  color: $blue;
  background-color: $light-gray;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 1px 3px;
}


