.new_shop_card-container {

}

.new_shop_card-header {
  text-align: center;
  color: $yellow;
}


.new_shop_card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media all and (max-width: 500px) {
  .new_shop_card-body {
    display: block;
  }
}
.shop_card-visual {

}

.shop-form {
  padding: 10px 10px;
  background-color: $yellow;
  color: $blue;
  border-radius: 10px;
  box-shadow: 1px 1px black;
  .shop-submit {
    text-align: center;
  }
}

@media all and (min-width: 500px) {
  .candition_and_language {
    display: flex;
    justify-content: space-around;
  }
}
