.new_shop_card-container {

}

.new_shop_card-header {
  text-align: center;
  color: $yellow;
}


.new_shop_card-body {
  //display: flex;
  //justify-content: center;
}


.shop_card-visual {

}

.shop-form {
  //border: 1px solid $yellow;
  padding: 10px 10px;
  background-color: $yellow;
  color: $blue;
  border-radius: 10px;
  box-shadow: 1px 1px black;
  .shop-submit {
    text-align: center;
  }
}
