.new_shop_card-content {
  border: solid 10px $yellow;
  background-color: #00A6FB;
  border-radius: 10px;
  box-shadow: 1px 1px black;
  margin-top: 20px;
  padding-bottom: 20px;
}

.new_shop_card-header {
  text-align: center;
}

.new_shop_card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new_shop_card-visual {
  text-align: center;
}

.new_shop_card-form {
  .language_and_condition {
    display: flex;
    .condition {
      padding-left: 10px;
    }
  }
  .price-form {
    padding-top: 2px;
  }
  .version {
    padding-top: 5px;
  }
}

.shop-submit {
  text-align: center;
  padding-top: 10px;
}

@media all and (max-width: 650px) {
  .new_shop_card-body {
    display: block;
    .new_shop_card-visual {
      padding-bottom: 20px;
    }
    .new_shop_card-form {
      padding-left: 10px;
    }
  }
}
