.ref_card-content {
  display: flex;
  justify-content: space-around;
  border: solid 10px $yellow;
  background-color: #00A6FB;
  border-radius: 10px;
  box-shadow: 1px 1px black;
  margin-top: 20px;
  padding: 20px 0px;
}

.ref_card-buttons {
  text-align: center;
  margin-top: 50px;
}

@media all and (max-width: 500px) {
  .ref_card-content {
    display: block;
  }
  .ref_card-visual {
    text-align: center;
  }
  .ref_card-infos {
    padding-left: 20px;
  }
  .ref_card-buttons {
    margin-top: 0px;
  }
}
