.search_cards-header {
  color: $yellow;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 10px;
  .more_cards {
    margin-left: 10px;
  }
}

@media all and (max-width: 500px) {
  .search_cards-header {
    display: block;
    margin-bottom: 10px;
    .more_cards {
      text-align: center;
      margin-left: 0px;
    }
  }
}

.list-header_mini {
  margin-bottom: 10px;
  width: 33%;
  display: flex;
  justify-content: space-around;
  background-color: $light-gray;
  color: $blue;
  border: 5px solid $yellow;
}

.dropdown-item {
  height: 35px;
  padding: 0px 0px;
  border: 1px solid $blue;
  background-color: $light-gray;
}

.dropdown-menu {
  background-color: $yellow;
}

@media all and (min-width: 500px) {
  #version {
    width: 8%;
    font-size: 70%;
  }
  #number {
    width: 8%;
    font-size: 70%;
  }
  #type {
    width: 8%;
    font-size: 70%;
  }
  #rarety {
    width: 8%;
    font-size: 70%;
  }
  #name {
    width: 44%;
    font-size: 80%;
    text-align: left;
  }
  #language {
    width: 12%;
    font-size: 70%;
  }
  #close {
    width: 12%;
    font-size: 70%;
  }
}

@media all and (max-width: 500px) {
  #version {
    width: 8%;
    font-size: 70%;
  }
  #number {
    width: 8%;
    font-size: 70%;
  }
  #type {
    width: 8%;
    font-size: 70%;
  }
  #rarety {
    width: 8%;
    font-size: 70%;
  }
  #name {
  width: 50%;
  font-size: 70%;
  text-align: left;
  }

  #language {
    width: 10%;
    font-size: 70%;
  }
  #close {
    width: 8%;
    font-size: 70%;
  }
}
