.sort-form {
  display: flex;
  justify-content: center;
  align-items: center;
  .first-part {
  }
  .input-content {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    .form-label {
      color: $yellow;
    }
    .form-input {
      margin: 0px 10px;
    }
    .form-select {
      font-size: 15px;
    }
  }
}

.shop_cards-header {
  color: $yellow;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 10px;
  .more_cards {
    margin-left: 10px;
  }
}

@media all and (max-width: 500px) {
  .shop_cards-header {
    display: block;
    margin-bottom: 10px;
    .more_cards {
      text-align: center;
      margin-left: 0px;
    }
  }
  .sort-form {
    display: flex;
    flex-direction: column;
  }
}

@media all and (min-width: 500px) {
  #version-sh {
    width: 8%;
    font-size: 70%;
  }
  #number-sh {
    width: 8%;
    font-size: 70%;
  }
  #type-sh {
    width: 7%;
    font-size: 70%;
  }
  #rarety-sh {
    width: 7%;
    font-size: 70%;
  }
  #name-sh {
    width: 42%;
    font-size: 80%;
    text-align: left;
  }
  #price-sh {
    width: 12%;
    font-size: 70%;
  }
  #language-sh {
    width: 8%;
    font-size: 70%;
  }
  #close-sh {
    width: 8%;
    font-size: 70%;
  }
}

@media all and (max-width: 500px) {
  #version-sh {
    width: 7%;
    font-size: 70%;
  }
  #number-sh {
    width: 7%;
    font-size: 70%;
  }
  #type-sh {
    width: 7%;
    font-size: 70%;
  }
  #rarety-sh {
    width: 7%;
    font-size: 70%;
  }
  #name-sh {
  width: 50%;
  font-size: 70%;
  text-align: left;
  }
  #price-sh {
    width: 7%;
    font-size: 70%;
  }
  #language-sh {
    width: 8%;
    font-size: 70%;
  }
  #close-sh {
    width: 7%;
    font-size: 70%;
  }
}
