.shop_card-content {
  display: flex;
  justify-content: space-around;
  border: solid 10px $yellow;
  background-color: #00A6FB;
  border-radius: 10px;
  box-shadow: 1px 1px black;
  margin-top: 20px;
  padding: 20px 0px;
  border: 2px solid white;
}

.shop_card-visual {
  text-align: center;
}

.shop_card-buttons {
  text-align: center;
  margin-top: 50px;
}

@media all and (max-width: 900px) {
  .shop_card-content {
    display: block;
  }
  .shop_card-infos {
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .shop_card-buttons {
    margin-top: 0px;
  }
}
