.shop_card-header {
  display: flex;
  color: $yellow;
  justify-content: center;
  align-items: center;
}

.shop_card-body {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .card-infos {
    width: 300px;
    height: 415px;
  }
}


#shop_card-recto_verso {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

@media all and (max-width: 500px) {
  .shop_card-body {
    display: block;
  }
}
.card-visuals {
  text-align: center;
  h5 {
    color: $yellow;
  }
}

.card-buttons {
  text-align: center;
  margin-top: 20px;
}
