.shop_cards-header {
  color: $yellow;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 10px;
  .more_cards {
    margin-left: 10px;
  }
}

@media all and (max-width: 500px) {
  .shop_cards-header {
    display: block;
    margin-bottom: 10px;
    .more_cards {
      text-align: center;
      margin-left: 0px;
    }
  }
}
