.lists_table-box {
  margin-top: 10px;
  border: 6px solid $yellow;
  background-color: #00A6FB;
  border-radius: 6px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 2px 2px 5px black;
}
table {
  //border: 2px solid red;
  //margin-left : 30px;
}

thead {
  border-bottom: 4px solid $yellow;
}
tr {
  height: 70px;
  //text-align: left;
  border-bottom: 2px solid $yellow;
}
tr:last-child {
  border-bottom: none
}

// td {
//   text-align: right;
//   border-right: 2px solid black;
//   border-left: 2px solid black;
// }
@media all and (min-width: 500px) {
  #logo {
    width: 20%;
    text-align: center;
  }
  #symbol {
    width: 8%;
    text-align: center;
  }
  #en_name {
    width: 20%;
    font-size: 80%;
    text-align: left;
  }
  #jap_name {
    width: 30%;
    font-size: 80%;
    text-align: left;
  }
  #size {
    width: 7%;
    text-align: center;
  }
  #release_date {
    width: 15%;
    text-align: right;
  }
}
