<div class="tab">
  <div class="tab-item">
    <%= link_to "Conversation",
      conversation_seller_path(@seller)
    %>
  </div>
  <div class="tab-item">
    <%= link_to "Panier",
      panier_seller_path(@seller)
    %>
  </div>
</div>
