<div class="container">


      <%# @users.each do |user| %>
        <%# if user.id != current_user.id %>
         <%#link_to "Contacter #{user.first_name}", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post" %>
        <%# end %>
      <%# end %>



      <h3>Conversations</h3>
      <% @conversations.each do |conversation| %>
        <div class="conversation-element">
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <% unless current_user.id == recipient %>
              <%= link_to "#{recipient.first_name} #{recipient.last_name}", conversation_messages_path(conversation) %>
              <%= conversation.messages.count %> messages
            <% end %>
          <% end %>
        </div>
      <% end %>

</div>
