<div class="user-header">
  <h3>
    <% unless @user == current_user %>
      <%= "#{@user.first_name}" %>
      <%= "#{@user.last_name}" %>
    <% else %>
      <%= "Mon magasin" %>
    <% end %>
  </h3>
  <h5><%= "#{@shop_cards_count} cartes : #{@shop_cards_value}€" %></h5>
</div>
