<div class="card-header-list">
  <h3><%= @user.first_name %> <%= @user.last_name %>
    <% if @good_shop_cards.count == 0 %>
      ne vend aucune carte que vous recherchez
    <% elsif @good_shop_cards.count == 1  %>
      possède <%= @good_shop_cards.count %> carte que vous recherchez
    <% else %>
      possède <%= @good_shop_cards.count %> cartes que vous recherchez
    <% end %>
  </h3>
</div>
