<div class="container">
  <%= render partial: "users/header" %>
  <div class="good_shop_cards-container">
    <% @good_shop_cards.each do |shop_card|%>
      <% if shop_card.ph_one.present? %>
        <%= link_to shop_card_path(shop_card) do %>
          <% if shop_card.ph_one.present? %>
            <div class="col-md-2">
              <div class="card-ref">
                <%= cl_image_tag shop_card.ph_one,width: 130,
                height: 180, :gravity=>"auto", :crop=>"fill",  :transformation=>[
                {:width=>500, :crop=>"scale"},
                {:overlay=>{:font_family=>"Arial", :font_size=>50, :text=>"#{shop_card.user.first_name} #{shop_card.user.last_name}"},
                 :gravity=>"south", :y=>100},
                {:overlay=>{:font_family=>"Arial", :font_size=>50, :text=>"#{shop_card.price}€"}, :gravity=>"south", :y=>10}
                ], class: "pokemon-card-photo-mini" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end  %>
    <% end %>
  </div>
</div>
