<div class="container">
  <nav class="navbar">

    <%= link_to "Pok'n'Roll", blocs_path, class: "navbar-item" %>
    <%= link_to "Index", blocs_path, class: "navbar-item" %>
    <%= link_to "Rechercher", ref_cards_path, class: "navbar-item"%>
    <%= link_to "Collection", collection_cards_path, class: "navbar-item"%>

  </nav>
</div>

