<div class="container">
  <nav class="navbar">

    <%= link_to "Pok'n'Roll", blocs_path, class: "navbar-item" %>
    <%# link_to "Vendre une carte", blocs_path, class: "navbar-item" %>
    <%# link_to "Offres", blocs_path, class: "navbar-item" %>
    <%= link_to "Séries", blocs_path, class: "navbar-item" %>
    <%# link_to "Rechercher", ref_cards_path, class: "navbar-item"%>
    <%= link_to "Collection", collection_cards_path, class: "navbar-item"%>
    <%= link_to "Recherches", search_cards_path, class: "navbar-item"%>

  </nav>
</div>

