<div class="landing_page-container">
  <div class="landing_page">
  <div class="logo-container">
    <div class="logo"><%= image_tag("logo_pnr.png",size: "150x150") %></div>
  </div>
  <h3>La plateforme qui simplifie et optimise les transactions de cartes Pokémon</h3>
  <hr>
  <h4>Gérez facilement vos recherches, vos ventes et votre collection</h4>
  <h4>Achetez et vendez un maximum de cartes par personne</h4>
  <hr>
  <div class="call_to_action-container">
    <%= link_to "Inscription", new_user_registration_path, class: "btn btn-primary btn-lg"%>
  </div>
</div>
</div>
