<div class="visuals-container">
  <% @shop_cards.order("created_at desc").each do |shop_card| %>
      <div class="card-element shop-element">
        <%= link_to shop_card_path(shop_card) do %>
          <% if shop_card.ph_one.present? %>
            <div class="visual">
              <%= cl_image_tag shop_card.ph_one, :gravity=>"auto", :crop=>"fill",
              :transformation=> {:width=>250, :crop=>"fit"}, class: "mini" %>
            </div>
          <% end %>
        <% end %>
        <div class="price">
          <%= shop_card.price %> €
        </div>
      </div>
  <% end %>
</div>
<div class="text-center"><%== pagy_bootstrap_nav(@pagy) %></div>
