<div class="container">

  <%= render partial: "shop_cards/header" %>
  <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="last_shop_cards-tab" data-toggle="tab" href="#last_shop_cards" role="tab" aria-controls="last_shop_cards" aria-selected="true">
          Dernières ajoutées
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="by_list-tab" data-toggle="tab" href="#by_list" role="tab" aria-controls="by_list" aria-selected="false">
          Séries
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="last_shop_cards" role="tabpanel" aria-labelledby="last_shop_cards-tab">
        <%= render partial: "shop_cards/last_shop_cards" %>
      </div>
      <div class="tab-pane" id="by_list" role="tabpanel" aria-labelledby="by_list-tab">
        <%= render partial: "shop_cards/by_list" %>
      </div>
    </div>

</div>
