<div class="container">
  <div>
    <h1>Blocs</h1>
  </div>
    <% @blocs.each do |bloc| %>
      <div class="card">
        <div class="card-header"><%= bloc.fr_name %></div>
        <ul class="list-group list-group-flush">
          <% bloc.lists.each do |list| %>
            <li class="list-group-item">
              <%= link_to list.fr_name, list_path(list)%> / <%= list.size %> <%= image_tag(list.symbol_url, height: '17')%>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
</div>
