<div class="selected_cards-header">
  <h2>Panier :
    <% if @selected_cards.count == 0 %>
      aucune carte
    <% elsif @selected_cards.count == 1  %>
      <%= @selected_cards.count %> carte
    <% else %>
      <%= @selected_cards.count %> cartes
    <% end %>
  </h2>
</div>
