<div class="container">

  <% unless user_signed_in? %>
    <%= render partial: "lists/home" %>
  <% end %>

  <div class="lists-container">
    <div class="title"><h4>Les séries :</h4></div>
    <div class="blocs-container">
      <% @jap_blocs.each do |bloc| %>
        <div class="bloc-container">
          <div class="bloc-header"><%= bloc.en_name %></div>
          <div class="bloc-lists">
            <% bloc.lists.order("id ASC").each do |list| %>
              <div class="list-card">
                <%= link_to "#{list.name}",list_path(list) %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

