<div class="container">

  <% unless user_signed_in? %>
    <%#= render partial: "lists/home" %>
  <% end %>

  <div class="lists-container">
    <!-- <div class="title"><h4>Les séries :</h4></div> -->
    <div class="blocs-container">
      <% @jap_blocs.each do |bloc| %>
        <div class="bloc-container">
          <div class="bloc-header"><%= bloc.en_name %></div>
          <div class="bloc-lists">
            <% bloc.lists.order(rank: :desc).each do |list| %>
              <%= link_to list_path(list), :method => :get do %>
                <div class="list-card">
                  <% code_list = list.code %>
                  <%= cl_image_tag(("jap_lists/logos/#{code_list}"), class: "logo-list-mini") %>
                  <% unless @no_symbol_jap_lists.include?(code_list) %>
                    <%= cl_image_tag(("jap_lists/symbols/#{code_list}"), class: "symbol-list-mini") %>
                  <% end  %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

