.buttons {
  display: none;
}

.destroy_button {
  background-color: $yellow;
  border: 1px solid $blue;
  border-radius: 7px;
  color: $blue;
  text-align: center;
  display: none;
}

.delete_button {
  border: 3px solid $blue;
  border-radius: 7px;
  color: $blue;
  text-align: center;
  margin-bottom: 5px;
}

.btn-classic {
  background-color: $blue;
  color: $yellow;
  border-radius: 7px;
}

.sale_button {
  text-align: center;
  margin-bottom: 5px;
}

.search_button {
  text-align: center;
  margin-bottom: 5px;
}

.border-yellow {
  border: 2px solid $yellow;
}
