.bloc-list-card {
  //background: $yellow;
  width: 230px;
  height: 90px;
  display: flex;
  border: 6px solid $yellow;
  border-radius: 6px;
  box-shadow: 2px 2px 5px black;
  justify-content: space-around;
  align-items: center;
  margin: 10px 5px;
  background-color: #00A6FB;
}

.symbol-list {
  height: 20px;
}

.logo-list-mini {
  max-height: 70px;
  max-width: 160px;
}

.logo-list-standard {
  max-height: 100px;
  max-width: 320px;
}

.pokemon-card-micro {
  box-shadow: 2px 2px 5px black;
  border-radius: 3px;
  width: 50px;
}

.pokemon-card-mini {
  box-shadow: 2px 2px 5px black;
  border-radius: 6px;
  width: 130px;
  &:hover {
      border-radius: 7px;
      width: 140px;
    }
}


.pokemon-card-photo-mini {
  box-shadow: 2px 2px 5px black;
  border-radius: 6px;
  margin-bottom: 15px;
}

.pokemon-card-standard {
  box-shadow: 2px 2px 5px black;
  border-radius: 11px;
  width: 217px;
}

.pokemon-card-photo-standard {
  box-shadow: 2px 2px 5px black;
  border-radius: 11px;
}

.card {
  width: 350px;
}

.card-header {
  text-align: center;
  color: $yellow;
}

.card-header-list {
  display: flex;
  border: 6px solid $yellow;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  padding: 10px 50px;
  margin-bottom: 15px;
  background-color: $yellow;
}

.collection-item {
  border: 6px solid $yellow;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  padding: 10px 50px;
  margin: 15px 5px;
}

.card-ref {
  //border: 2px solid white;
  height: 200px;
  width: 140px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col-md-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


