.bloc-list-card {
  //background: $yellow;
  width: 230px;
  height: 90px;
  display: flex;
  border: 6px solid $yellow;
  border-radius: 6px;
  box-shadow: 2px 2px 5px black;
  justify-content: space-around;
  align-items: center;
  margin: 10px 5px;
  background-color: #00A6FB;
}

.pokemon-card-photo-mini {
  box-shadow: 2px 2px 5px black;
  border-radius: 6px;
  margin-bottom: 15px;
}

.pokemon-card-standard {
  box-shadow: 2px 2px 5px black;
  border-radius: 11px;
  width: 100px;
}

.pokemon-card-photo-standard {
  box-shadow: 2px 2px 5px black;
  border-radius: 11px;
  width: 220px;
}

.card {
  width: 350px;
}

.card-header {
  text-align: center;
  color: $yellow;
}

.card-header-list {
  display: flex;
  border: 6px solid $yellow;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  padding: 10px 50px;
  margin-bottom: 15px;
  background-color: $yellow;
}

.collection-item {
  border: 6px solid $yellow;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  padding: 10px 50px;
  margin: 15px 5px;
}

.card-infos {
  margin-left: 30px;
  background-color: $yellow;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  padding: 10px 10px;
  height: 300px
}

.col-md-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


