.form-parts {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.form_part {
  padding: 10px 10px;
  background-color: $yellow;
  color: $blue;
  border-radius: 10px;
  box-shadow: 1px 1px black;
}

.form-actions {
  margin-top: 20px;
  text-align: center;
}
