#gallerywrapper {
  margin:0 auto;
 }

#gallerywrapper #gallery {
  //position:absolute;
  left:0;
  top:0;
  height:460px;
  width:400px;
  overflow:hidden;
  text-align:center;
}

#recto {
  height:460px;
  width:400px;
  margin-bottom: 20px;
  display:block;
}

#verso {
  height:460px;
  width:400px;
  margin-bottom: 20px;
  display:block;
}

.visual {
  margin-bottom: 5px;
}
.other {
  padding-top: 5px;
}
