.list_show-header {

}

.list-header_mini {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.shop_cards_index-header {

}

.collection_cards_index-header {

}

.search_cards_index-header {

}

.feeds_index-header {

}

.good_user-header {
  margin: auto;
  width: 40%;
  border: 6px solid $yellow;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  padding: 10px 50px;
  margin-bottom: 15px;
  background-color: $light-gray;
}
