.logo-list-mini {
  max-height: 70px;
  max-width: 160px;
}

.logo-list-standard {
  max-height: 100px;
  max-width: 320px;
}

@media all and (max-width: 500px) {
  .logo-list-standard {
    max-height: 85px;
    max-width: 240px;
  }
}
