.main-navbar {
  //border-bottom: 6px solid $yellow;
  //border-radius: 6px;
  background-color: $yellow;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
  //border-bottom: 1px solid #006494;
  .navbar-item {
  color: $blue;
  }
  .navbar-item:hover {
  color: $light-gray;
  }
 }

.nav {
  margin-bottom: 10px;
  background-color: $light-gray;
}

.user-navbar {
  background-color: $blue;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid $yellow;
  .navbar-item {
  color: $yellow;
  }
  .navbar-item:hover {
  color: $light-gray;
  }
}

.navbars {
  margin-bottom: 15px;
}

.name {
  height: 20px;
}

.mini-logo {
  height: 20px;
  width: 20px;
  background-color: $blue;
}
