.navbar {
  border-bottom: 6px solid $yellow;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
 }
 .navbar-item {
  color: $yellow;
 }
 .navbar-item:hover {
  color: $yellow;
 }


