.main-navbar {
  background-color: $yellow;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
  .navbar-item {
  color: $blue;
  }
  .navbar-item:hover {
  color: $light-gray;
  }
 }

.nav-box {
  display: flex;
  justify-content: center
}
.nav {
  margin-bottom: 10px;
  background-color: $light-gray;
  width: 70%;
}

@media all and (max-width: 570px) {
  .nav {
    width: 100%;
  }
  .computer-item {
    display: none;
  }
}

@media all and (min-width: 570px) {
  .phone-item {
    display: none;
  }
}
.user-navbar {
  background-color: $blue;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  border-bottom: 1px solid $yellow;
  color: $yellow;
  .navbar-item {
  color: $yellow;
  }
  .navbar-item:hover {
  color: $light-gray;
  }
}

.navbars {
  margin-bottom: 5px;
}

.startup-name {
  height: 20px;
}

.mini-logo {
  height: 20px;
  width: 20px;
  background-color: $blue;
}

