.card-element {
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  &:hover .buttons {
    position: absolute;
    bottom: 3px;
    display: block;
  }
  &:hover .destroy_button {
    position: absolute;
    top: 3px;
    right: 3px;
    display: block;
  }
}

.shop-element {
  margin-bottom: 20px;
}
.standard {
  box-shadow: 2px 2px 5px black;
  border-radius: 11px;
  width: 217px;
}

.standard-photo {
  box-shadow: 2px 2px 5px black;
  border-radius: 11px;
  width: 300px;
  height: 415px;
}

.mini {
  box-shadow: 2px 2px 5px black;
  border-radius: 8px;
  width: 160px;
  &:hover {
      border-radius: 9px;
      width: 170px;
    }
}

@media all and (max-width: 500px) {
  .card-element {
    height: 200px;
    width: 160px;
  }
  .standard {
    border-radius: 7px;
    width: 150px;
    //margin-bottom: 10px;
  }
  .standard-photo {
  box-shadow: 2px 2px 5px black;
  border-radius: 11px;
  }
  .mini {
  width: 130px;
  &:hover {
      border-radius: 7px;
      width: 138px;
    }
  }
}
