.standard {
  box-shadow: 2px 2px 5px black;
  border-radius: 11px;
  width: 217px;
}

.mini {
  box-shadow: 2px 2px 5px black;
  border-radius: 8px;
  width: 160px;
  height: 221px;
  &:hover {
      border-radius: 9px;
      width: 170px;
      height: 235px;
    }
}

.micro {
  //box-shadow: 1px 1px 2px black;
  border-radius: 4px;
  width: 94px;
  height: 130px;
}

.price {
  color: $blue;
  background-color: $yellow;
  border-radius: 5px;
  text-align: center;
  width: auto;
  height: 25px;
  padding: 0px 3px;
}

@media all and (max-width: 500px) {
  .visual-box {
    height: 200px;
    width: 160px;
  }
  .standard {
    border-radius: 7px;
    width: 150px;
    //margin-bottom: 10px;
  }
  .standard-photo {
  box-shadow: 2px 2px 5px black;
  border-radius: 11px;
  width: 250px;
  height: 345px;
  }
  .mini {
  width: 130px;
  height: 179px;
  &:hover {
      border-radius: 7px;
      width: 138px;
      height: 190px;
    }
  }
}
