<div class="seller_presentation-content">
  <div class="items_seller">
    <div>Sa commande :</div>
    <div>
      <%= "#{@order_items_sum_buyer[3]} cartes / #{@order_items_sum_buyer[4]}€"%>
    </div>
  </div>
  <div class="seller-content">
    <div class="seller-description">
      <h5>Contact :</h5>
      <div class="seller_avatar-content">
        <div class="seller-avatar"></div>
      </div>
      <h4>
        <%= "#{@buyer.first_name} #{@buyer.last_name}" %>
      </h4>
      <h6>
        <%= "Membre depuis le :" %>
        <%= "#{@buyer.member_since}" %>
      </h6>
    </div>
    <div class="seller-infos">
      <h6><%#= "Magasin : #{@seller.shop_size} cartes" %></h6>
      <h6>
        <%#= "Envoi :" %>
        <%#= "#{@seller.boolean_response(@seller.shipment)}" %>
      </h6>
      <h6>
        <%#= "Remise en mains propres :" %>
        <%#= "#{@seller.boolean_response(@seller.shipment)}" %>
      </h6>
    </div>
  </div>
</div>
