<div class="container-fluid">
  <%= render partial: "buyers" %>
  <div class="messages_and_items-content">
    <%= render partial: "tab" %>
    <%= render partial: "items" %>
  </div>
  <%= render partial: "buyer_presentation" %>
</div>
