<div class="search_cards-header">
  <div class="title">
    <h3>Recherches :
      <% if @search_cards.count == 0 %>
        aucune carte
      <% elsif @search_cards.count == 1  %>
        <%= @search_cards.count %> carte
      <% else %>
        <%= @search_cards.count %> cartes
      <% end %>
    </h3>
  </div>
  <div class="more_cards">
    <%= link_to "Rechercher d'autres cartes", root_path, :class => "btn btn-classic btn-lg btn-yellow"%>
  </div>
</div>
