<div class="card-header-list">
  <h1>Recherches</h1>
  <% if @search_cards.count == 0 %>
    <h3>aucune carte</h3>
  <% elsif @search_cards.count == 1  %>
    <h3><%= @search_cards.count %> carte</h3>
  <% else %>
    <h3><%= @search_cards.count %> cartes</h3>
  <% end %>
</div>
