<div class="search_cards-header">
  <h3>Recherches :
    <% if @search_cards.count == 0 %>
      aucune carte
    <% elsif @search_cards.count == 1  %>
      <%= @search_cards.count %> carte
    <% else %>
      <%= @search_cards.count %> cartes
    <% end %>
  </h3>

</div>
