<div class="card-header-list">
  <h2>Recherches :
    <% if @search_cards.count == 0 %>
      aucune carte
    <% elsif @search_cards.count == 1  %>
      <%= @search_cards.count %> carte
    <% else %>
      <%= @search_cards.count %> cartes
    <% end %>
  </h2>

</div>
