.seller_presentation-content {
  height: 580px;
  width: 25%;
}
.items_seller {
  //margin-top: 5px;
  background-color: $yellow;
  color: $blue;
  padding: 6px 10px;
  text-align: center;
}
.seller-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  background-color: $yellow;
  color: $blue;
  padding: 6px 10px;
  .seller-avatar {
    height: 70px;
    width: 70px;
    background-color: white;
    border: solid 3px $blue;
    border-radius: 50%;
    color: $blue;
  }
}
.seller-infos {
  margin-top: 5px;
  background-color: $yellow;
  color: $blue;
  padding: 6px 10px;
}

