<div class="navbars">
  <nav class="main-navbar">

    <%= link_to root_path do %>
      <div class="navbar-item">
        <%= image_tag("mini_logo_pnr.png", class: "mini-logo") %>
        <%= image_tag("name_pnr.png", class: "startup-name") %>
      </div>
    <% end %>

    <div><%= link_to "Séries", lists_path, class: "navbar-item" %></div>

  </nav>
</div>
